<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncu.medical.mapper.DoctorDetailMapper">

    <resultMap id="BaseResultMap" type="cn.edu.ncu.medical.entity.DoctorDetail">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="systemUserId" column="system_user_id" jdbcType="INTEGER"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="homeAddress" column="home_address" jdbcType="VARCHAR"/>
            <result property="emergencyContactName" column="emergency_contact_name" jdbcType="VARCHAR"/>
            <result property="emergencyContactPhone" column="emergency_contact_phone" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="modifyTime" jdbcType="TIMESTAMP"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
            <result property="professionalLicenseNumber" column="professional_license_number" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="rating" column="rating" jdbcType="DECIMAL"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,system_user_id,real_name,
        id_card,gender,home_address,
        emergency_contact_name,emergency_contact_phone,createTime,
        modifyTime,title,department_id,
        professional_license_number,introduction,rating,
        is_deleted
    </sql>
</mapper>
