<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncu.medical.mapper.MedicineOrderMapper">

    <insert id="insertMedicineOrder">
        INSERT INTO medicine_order (drug_id,drug_quantity,order_payment_record_id)
        select p.drug_id,p.drug_quantity,#{orderPaymentRecordId} from prescription p WHERE medical_record_id = #{medicalRecordId}  ;
    </insert>
</mapper>
