<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.ncu.medical.mapper.OrderPaymentRecordMapper">


    <select id="selectAmountByPrescription">
        select sum(p.drug_quantity * d.drug_price) as total_amout
        FROM prescription p JOIN drug d on p.drug_id = d.id
        WHERE p.medical_record_id = #{mId} and p.is_deleted = 0 and d.is_deleted = 0
    </select>
    <select id="selectAmountByOrder">
        select sum(m.drug_quantity * d.drug_price) as total_amout
        FROM medicine_order m JOIN drug d on m.drug_id = d.id
        WHERE m.order_payment_record_id = #{oId} and m.is_deleted = 0 and d.is_deleted = 0
    </select>
    <select id="selectPrice">
        select drug_price from drug where drug.id = #{id} and drug.is_deleted = 0
    </select>
</mapper>
